.stage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sectionHeadline {
  font-family: var(--font-cormorant), var(--font-noto-jp), var(--font-noto-sc),
    serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.075rem;
  font-size: 2.5rem;
  line-height: 2.5rem;

  @media (max-width: 1200px){
    font-size: 3rem;
    line-height: 3rem;
  }

  
}

.sectionHeadline p {
  margin: 0;
}

.sectionHeadlineCn {
  font-family: var(--font-noto-sc), var(--font-noto-jp), var(--font-cormorant),
    sans-serif;
  font-style: normal;
  line-height: 3.5rem;
  font-weight: 300;

  @media (max-width: 800px){
    font-size: 2.5rem;
  }
}

