.contacts {
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(var(--pad-bottom) + 3rem);
  margin-top: 8rem;
}

.contactsHeadline {
  position: absolute;
  top: 4rem;
  left: var(--pad);
  right: calc(66.6667% + 0.3125rem);

  @media (max-width: 1200px) {
    position: relative;
    right: auto;
    margin-bottom: 2rem;
  }
}

.contactsBody {
  position: relative;
  margin-left: calc(var(--col-split) + 0.6875rem);
  margin-right: var(--pad);
  /* Make the right column scale like cards */
  container-type: inline-size;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  //gap: 1rem;

  @media (max-width: 1200px) {
    margin-left: var(--pad);
    margin-right: var(--pad);
    padding-top: 6.5rem;
  }

  @media (max-width: 900px) {
    margin-left: var(--pad);
  }
}

.contactGroup {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.contactText {
  font-family: var(--font-cormorant), var(--font-noto-jp), var(--font-noto-sc),
    serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: normal;
  letter-spacing: -0.045rem;
  color: var(--fg);
  white-space: pre-wrap;
  padding-top: 0.5em;
}

.contactTextCn {
  font-weight: 300;
}

.contactText p {
  margin: 0;
}

.contactRule {
  height: 0.5px;
  width: 100%;
  background: var(--line);
  border: 0;
}

